<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miquankj.api.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.miquankj.api.entity.Customer">
    <id column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="avator" jdbcType="VARCHAR" property="avator" />
    <result column="nick" jdbcType="VARCHAR" property="nick" />
    <result column="cus_type" jdbcType="TINYINT" property="cusType" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="addr_detail" jdbcType="VARCHAR" property="addrDetail" />
    <result column="jointime" jdbcType="TIMESTAMP" property="jointime" />
    <result column="total_consumer" jdbcType="DECIMAL" property="totalConsumer" />
    <result column="total_order" jdbcType="INTEGER" property="totalOrder" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="reg_ip" jdbcType="VARCHAR" property="regIp" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="continue_login" jdbcType="INTEGER" property="continueLogin" />
    <result column="is_login" jdbcType="BIT" property="isLogin" />
    <result column="err_login_times" jdbcType="BIT" property="errLoginTimes" />
  </resultMap>
  <sql id="Base_Column_List">
    customer_id, avator, nick, cus_type, store_id, company, realname, phone, province, 
    city, addr_detail, jointime, total_consumer, total_order, status, reg_ip, last_login_time, 
    last_login_ip, score, continue_login, is_login, err_login_times
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jdej_customer
    where customer_id = #{customerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jdej_customer
    where customer_id = #{customerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.miquankj.api.entity.Customer">
    insert into jdej_customer (customer_id, avator, nick, 
      cus_type, store_id, company, 
      realname, phone, province, 
      city, addr_detail, jointime, 
      total_consumer, total_order, status, 
      reg_ip, last_login_time, last_login_ip, 
      score, continue_login, is_login, 
      err_login_times)
    values (#{customerId,jdbcType=INTEGER}, #{avator,jdbcType=VARCHAR}, #{nick,jdbcType=VARCHAR}, 
      #{cusType,jdbcType=TINYINT}, #{storeId,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{addrDetail,jdbcType=VARCHAR}, #{jointime,jdbcType=TIMESTAMP}, 
      #{totalConsumer,jdbcType=DECIMAL}, #{totalOrder,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{regIp,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{continueLogin,jdbcType=INTEGER}, #{isLogin,jdbcType=BIT}, 
      #{errLoginTimes,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.miquankj.api.entity.Customer">
    insert into jdej_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="avator != null">
        avator,
      </if>
      <if test="nick != null">
        nick,
      </if>
      <if test="cusType != null">
        cus_type,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="addrDetail != null">
        addr_detail,
      </if>
      <if test="jointime != null">
        jointime,
      </if>
      <if test="totalConsumer != null">
        total_consumer,
      </if>
      <if test="totalOrder != null">
        total_order,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="regIp != null">
        reg_ip,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="lastLoginIp != null">
        last_login_ip,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="continueLogin != null">
        continue_login,
      </if>
      <if test="isLogin != null">
        is_login,
      </if>
      <if test="errLoginTimes != null">
        err_login_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="avator != null">
        #{avator,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="cusType != null">
        #{cusType,jdbcType=TINYINT},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="addrDetail != null">
        #{addrDetail,jdbcType=VARCHAR},
      </if>
      <if test="jointime != null">
        #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalConsumer != null">
        #{totalConsumer,jdbcType=DECIMAL},
      </if>
      <if test="totalOrder != null">
        #{totalOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="regIp != null">
        #{regIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="continueLogin != null">
        #{continueLogin,jdbcType=INTEGER},
      </if>
      <if test="isLogin != null">
        #{isLogin,jdbcType=BIT},
      </if>
      <if test="errLoginTimes != null">
        #{errLoginTimes,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.miquankj.api.entity.Customer">
    update jdej_customer
    <set>
      <if test="avator != null">
        avator = #{avator,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="cusType != null">
        cus_type = #{cusType,jdbcType=TINYINT},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="addrDetail != null">
        addr_detail = #{addrDetail,jdbcType=VARCHAR},
      </if>
      <if test="jointime != null">
        jointime = #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalConsumer != null">
        total_consumer = #{totalConsumer,jdbcType=DECIMAL},
      </if>
      <if test="totalOrder != null">
        total_order = #{totalOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="regIp != null">
        reg_ip = #{regIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="continueLogin != null">
        continue_login = #{continueLogin,jdbcType=INTEGER},
      </if>
      <if test="isLogin != null">
        is_login = #{isLogin,jdbcType=BIT},
      </if>
      <if test="errLoginTimes != null">
        err_login_times = #{errLoginTimes,jdbcType=BIT},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miquankj.api.entity.Customer">
    update jdej_customer
    set avator = #{avator,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      cus_type = #{cusType,jdbcType=TINYINT},
      store_id = #{storeId,jdbcType=INTEGER},
      company = #{company,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      addr_detail = #{addrDetail,jdbcType=VARCHAR},
      jointime = #{jointime,jdbcType=TIMESTAMP},
      total_consumer = #{totalConsumer,jdbcType=DECIMAL},
      total_order = #{totalOrder,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      reg_ip = #{regIp,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      continue_login = #{continueLogin,jdbcType=INTEGER},
      is_login = #{isLogin,jdbcType=BIT},
      err_login_times = #{errLoginTimes,jdbcType=BIT}
    where customer_id = #{customerId,jdbcType=INTEGER}
  </update>
</mapper>