<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miquankj.api.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.miquankj.api.entity.Permission">
    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="index_man" jdbcType="TINYINT" property="indexMan" />
    <result column="user_man" jdbcType="TINYINT" property="userMan" />
    <result column="product_man" jdbcType="TINYINT" property="productMan" />
    <result column="order_man" jdbcType="TINYINT" property="orderMan" />
    <result column="markting_man" jdbcType="TINYINT" property="marktingMan" />
    <result column="lending_man" jdbcType="TINYINT" property="lendingMan" />
    <result column="data_center" jdbcType="TINYINT" property="dataCenter" />
    <result column="admin_man" jdbcType="TINYINT" property="adminMan" />
  </resultMap>
  <sql id="Base_Column_List">
    permission_id, index_man, user_man, product_man, order_man, markting_man, lending_man, 
    data_center, admin_man
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jdej_permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jdej_permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.miquankj.api.entity.Permission">
    insert into jdej_permission (permission_id, index_man, user_man, 
      product_man, order_man, markting_man, 
      lending_man, data_center, admin_man
      )
    values (#{permissionId,jdbcType=INTEGER}, #{indexMan,jdbcType=TINYINT}, #{userMan,jdbcType=TINYINT}, 
      #{productMan,jdbcType=TINYINT}, #{orderMan,jdbcType=TINYINT}, #{marktingMan,jdbcType=TINYINT}, 
      #{lendingMan,jdbcType=TINYINT}, #{dataCenter,jdbcType=TINYINT}, #{adminMan,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.miquankj.api.entity.Permission">
    insert into jdej_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="indexMan != null">
        index_man,
      </if>
      <if test="userMan != null">
        user_man,
      </if>
      <if test="productMan != null">
        product_man,
      </if>
      <if test="orderMan != null">
        order_man,
      </if>
      <if test="marktingMan != null">
        markting_man,
      </if>
      <if test="lendingMan != null">
        lending_man,
      </if>
      <if test="dataCenter != null">
        data_center,
      </if>
      <if test="adminMan != null">
        admin_man,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="indexMan != null">
        #{indexMan,jdbcType=TINYINT},
      </if>
      <if test="userMan != null">
        #{userMan,jdbcType=TINYINT},
      </if>
      <if test="productMan != null">
        #{productMan,jdbcType=TINYINT},
      </if>
      <if test="orderMan != null">
        #{orderMan,jdbcType=TINYINT},
      </if>
      <if test="marktingMan != null">
        #{marktingMan,jdbcType=TINYINT},
      </if>
      <if test="lendingMan != null">
        #{lendingMan,jdbcType=TINYINT},
      </if>
      <if test="dataCenter != null">
        #{dataCenter,jdbcType=TINYINT},
      </if>
      <if test="adminMan != null">
        #{adminMan,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.miquankj.api.entity.Permission">
    update jdej_permission
    <set>
      <if test="indexMan != null">
        index_man = #{indexMan,jdbcType=TINYINT},
      </if>
      <if test="userMan != null">
        user_man = #{userMan,jdbcType=TINYINT},
      </if>
      <if test="productMan != null">
        product_man = #{productMan,jdbcType=TINYINT},
      </if>
      <if test="orderMan != null">
        order_man = #{orderMan,jdbcType=TINYINT},
      </if>
      <if test="marktingMan != null">
        markting_man = #{marktingMan,jdbcType=TINYINT},
      </if>
      <if test="lendingMan != null">
        lending_man = #{lendingMan,jdbcType=TINYINT},
      </if>
      <if test="dataCenter != null">
        data_center = #{dataCenter,jdbcType=TINYINT},
      </if>
      <if test="adminMan != null">
        admin_man = #{adminMan,jdbcType=TINYINT},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miquankj.api.entity.Permission">
    update jdej_permission
    set index_man = #{indexMan,jdbcType=TINYINT},
      user_man = #{userMan,jdbcType=TINYINT},
      product_man = #{productMan,jdbcType=TINYINT},
      order_man = #{orderMan,jdbcType=TINYINT},
      markting_man = #{marktingMan,jdbcType=TINYINT},
      lending_man = #{lendingMan,jdbcType=TINYINT},
      data_center = #{dataCenter,jdbcType=TINYINT},
      admin_man = #{adminMan,jdbcType=TINYINT}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
</mapper>