<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miquankj.api.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="com.miquankj.api.entity.Product">
        <id column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="store_id" jdbcType="INTEGER" property="storeId"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="pro_pic" jdbcType="VARCHAR" property="proPic"/>
        <result column="is_normed" jdbcType="TINYINT" property="isNormed"/>
        <result column="is_distributed" jdbcType="TINYINT" property="isDistributed"/>
        <result column="discount" jdbcType="DECIMAL" property="discount"/>
        <result column="delivery_days" jdbcType="INTEGER" property="deliveryDays"/>
        <result column="delivery_type" jdbcType="TINYINT" property="deliveryType"/>
        <result column="unified_fre" jdbcType="DECIMAL" property="unifiedFre"/>
        <result column="freight_id" jdbcType="INTEGER" property="freightId"/>
        <result column="onsale_time_type" jdbcType="TINYINT" property="onsaleTimeType"/>
        <result column="onsale_time" jdbcType="TIMESTAMP" property="onsaleTime"/>
        <result column="specimen" jdbcType="TINYINT" property="specimen"/>
        <result column="price_unit" jdbcType="DECIMAL" property="priceUnit"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="product_status" jdbcType="TINYINT" property="productStatus"/>
        <result column="sales_num" jdbcType="INTEGER" property="salesNum"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="start_amount" jdbcType="INTEGER" property="startAmount"/>
        <result column="start_price" jdbcType="DECIMAL" property="startPrice"/>
        <result column="interval_start" jdbcType="INTEGER" property="intervalStart"/>
        <result column="interval_end" jdbcType="INTEGER" property="intervalEnd"/>
        <result column="interval_price" jdbcType="DECIMAL" property="intervalPrice"/>
        <result column="max_amount" jdbcType="INTEGER" property="maxAmount"/>
        <result column="max_disc_price" jdbcType="DECIMAL" property="maxDiscPrice"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.miquankj.api.entity.Product">
        <result column="product_info" jdbcType="LONGVARCHAR" property="productInfo"/>
    </resultMap>
    <resultMap id="productPicture" type="com.miquankj.api.entity.Product" extends="BaseResultMap">
        <collection property="list" javaType="List" ofType="com.miquankj.api.entity.ProductPicture">
            <id column="pro_pic_id" jdbcType="INTEGER" property="proPicId"/>
            <result column="product_id" jdbcType="INTEGER" property="productId"/>
            <result column="pic_path" jdbcType="VARCHAR" property="picPath"/>
            <result column="valid" jdbcType="TINYINT" property="valid"/>
        </collection>
    </resultMap>
    <resultMap id="productdto" type="com.miquankj.api.dto.Productdto">
        <id column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="store_id" jdbcType="INTEGER" property="storeId"/>
        <result column="pro_name" jdbcType="VARCHAR" property="proName"/>
        <result column="pro_pic" jdbcType="VARCHAR" property="proPic"/>
        <result column="price_unit" jdbcType="DECIMAL" property="priceUnit"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="product_status" jdbcType="TINYINT" property="productStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
    product_id, store_id, pro_name, category_id, category_name, pro_pic, is_normed, is_distributed,
    discount, delivery_days, delivery_type, unified_fre, freight_id, onsale_time_type,
    onsale_time, specimen, price_unit, stock, product_status, sales_num, create_time,
    update_time, start_amount, start_price, interval_start, interval_end, interval_price,
    max_amount, max_disc_price
  </sql>
    <sql id="productdto_list">
        product_id, store_id, pro_name, pro_pic,  price_unit, stock, create_time, product_status
    </sql>
    <sql id="Blob_Column_List">
    product_info
  </sql>

    <select id="selectCountsByCondition" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from jdej_product
        where store_id = #{storeId} and
        <if test="productName != null and productName != ''">
            pro_name like #{productName} and
        </if>
        create_time between #{startTime} and #{endTime}
    </select>
    <select id="selectByCondition" parameterType="java.util.Map" resultMap="productdto">
        select
        <include refid="productdto_list"/>
        ,
        <include refid="productdto_list"/>
        from jdej_product
        where store_id = #{storeId} and
        <if test="productName != null and productName != ''">
            pro_name like #{productName} and
        </if>
        create_time between #{startTime} and #{endTime}
        order by create_time desc
        limit #{startRecord},#{pageSize}
    </select>

    <select id="selectCountsByStoreId" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from jdej_product
        where store_id = #{param0} and
        <choose>
            <when test="param1 == 2">
                product_status != -1
            </when>
            <otherwise>
                product_status = #{param1}
            </otherwise>
        </choose>
    </select>
    <select id="selectByStoreId" parameterType="java.util.Map" resultMap="productdto">
        select
        <include refid="productdto_list"/>
        ,
        <include refid="productdto_list"/>
        from jdej_product
        where store_id = #{param0} and
        <choose>
            <when test="param1 == 2">
                product_status != -1
            </when>
            <otherwise>
                product_status = #{param1}
            </otherwise>
        </choose>
        order by create_time desc
        limit #{startRecord},#{param3}
    </select>

    <update id="changeProStatus" parameterType="java.lang.Integer">
        update jdej_product
        set product_status = #{operationType}
        where product_id = #{productId}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from jdej_product
        where product_id = #{productId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jdej_product
    where product_id = #{productId,jdbcType=INTEGER};
  </delete>
    <insert id="insert" parameterType="com.miquankj.api.entity.Product">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="productId">
            select last_insert_id()
        </selectKey>
        insert into jdej_product (product_id, store_id, pro_name,
        category_id, category_name, pro_pic,
        is_normed, is_distributed, discount,
        delivery_days, delivery_type, unified_fre,
        freight_id, onsale_time_type, onsale_time,
        specimen, price_unit, stock,
        product_status, sales_num, create_time,
        update_time, start_amount, start_price,
        interval_start, interval_end, interval_price,
        max_amount, max_disc_price, product_info
        )
        values (#{productId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{proName,jdbcType=VARCHAR},
        #{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{proPic,jdbcType=VARCHAR},
        #{isNormed,jdbcType=TINYINT}, #{isDistributed,jdbcType=TINYINT}, #{discount,jdbcType=DECIMAL},
        #{deliveryDays,jdbcType=INTEGER}, #{deliveryType,jdbcType=TINYINT}, #{unifiedFre,jdbcType=DECIMAL},
        #{freightId,jdbcType=INTEGER}, #{onsaleTimeType,jdbcType=TINYINT}, #{onsaleTime,jdbcType=TIMESTAMP},
        #{specimen,jdbcType=TINYINT}, #{priceUnit,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER},
        #{productStatus,jdbcType=TINYINT}, #{salesNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{startAmount,jdbcType=INTEGER}, #{startPrice,jdbcType=DECIMAL},
        #{intervalStart,jdbcType=INTEGER}, #{intervalEnd,jdbcType=INTEGER}, #{intervalPrice,jdbcType=DECIMAL},
        #{maxAmount,jdbcType=INTEGER}, #{maxDiscPrice,jdbcType=DECIMAL}, #{productInfo,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.miquankj.api.entity.Product">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="productId">
            select last_insert_id()
        </selectKey>
        insert into jdej_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="proName != null">
                pro_name,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
            <if test="proPic != null">
                pro_pic,
            </if>
            <if test="isNormed != null">
                is_normed,
            </if>
            <if test="isDistributed != null">
                is_distributed,
            </if>
            <if test="discount != null">
                discount,
            </if>
            <if test="deliveryDays != null">
                delivery_days,
            </if>
            <if test="deliveryType != null">
                delivery_type,
            </if>
            <if test="unifiedFre != null">
                unified_fre,
            </if>
            <if test="freightId != null">
                freight_id,
            </if>
            <if test="onsaleTimeType != null">
                onsale_time_type,
            </if>
            <if test="onsaleTime != null">
                onsale_time,
            </if>
            <if test="specimen != null">
                specimen,
            </if>
            <if test="priceUnit != null">
                price_unit,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="productStatus != null">
                product_status,
            </if>
            <if test="salesNum != null">
                sales_num,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="startAmount != null">
                start_amount,
            </if>
            <if test="startPrice != null">
                start_price,
            </if>
            <if test="intervalStart != null">
                interval_start,
            </if>
            <if test="intervalEnd != null">
                interval_end,
            </if>
            <if test="intervalPrice != null">
                interval_price,
            </if>
            <if test="maxAmount != null">
                max_amount,
            </if>
            <if test="maxDiscPrice != null">
                max_disc_price,
            </if>
            <if test="productInfo != null">
                product_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=INTEGER},
            </if>
            <if test="proName != null">
                #{proName,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="proPic != null">
                #{proPic,jdbcType=VARCHAR},
            </if>
            <if test="isNormed != null">
                #{isNormed,jdbcType=TINYINT},
            </if>
            <if test="isDistributed != null">
                #{isDistributed,jdbcType=TINYINT},
            </if>
            <if test="discount != null">
                #{discount,jdbcType=DECIMAL},
            </if>
            <if test="deliveryDays != null">
                #{deliveryDays,jdbcType=INTEGER},
            </if>
            <if test="deliveryType != null">
                #{deliveryType,jdbcType=TINYINT},
            </if>
            <if test="unifiedFre != null">
                #{unifiedFre,jdbcType=DECIMAL},
            </if>
            <if test="freightId != null">
                #{freightId,jdbcType=INTEGER},
            </if>
            <if test="onsaleTimeType != null">
                #{onsaleTimeType,jdbcType=TINYINT},
            </if>
            <if test="onsaleTime != null">
                #{onsaleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="specimen != null">
                #{specimen,jdbcType=TINYINT},
            </if>
            <if test="priceUnit != null">
                #{priceUnit,jdbcType=DECIMAL},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="productStatus != null">
                #{productStatus,jdbcType=TINYINT},
            </if>
            <if test="salesNum != null">
                #{salesNum,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="startAmount != null">
                #{startAmount,jdbcType=INTEGER},
            </if>
            <if test="startPrice != null">
                #{startPrice,jdbcType=DECIMAL},
            </if>
            <if test="intervalStart != null">
                #{intervalStart,jdbcType=INTEGER},
            </if>
            <if test="intervalEnd != null">
                #{intervalEnd,jdbcType=INTEGER},
            </if>
            <if test="intervalPrice != null">
                #{intervalPrice,jdbcType=DECIMAL},
            </if>
            <if test="maxAmount != null">
                #{maxAmount,jdbcType=INTEGER},
            </if>
            <if test="maxDiscPrice != null">
                #{maxDiscPrice,jdbcType=DECIMAL},
            </if>
            <if test="productInfo != null">
                #{productInfo,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.miquankj.api.entity.Product">
        update jdej_product
        <set>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=INTEGER},
            </if>
            <if test="proName != null">
                pro_name = #{proName,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="proPic != null">
                pro_pic = #{proPic,jdbcType=VARCHAR},
            </if>
            <if test="isNormed != null">
                is_normed = #{isNormed,jdbcType=TINYINT},
            </if>
            <if test="isDistributed != null">
                is_distributed = #{isDistributed,jdbcType=TINYINT},
            </if>
            <if test="discount != null">
                discount = #{discount,jdbcType=DECIMAL},
            </if>
            <if test="deliveryDays != null">
                delivery_days = #{deliveryDays,jdbcType=INTEGER},
            </if>
            <if test="deliveryType != null">
                delivery_type = #{deliveryType,jdbcType=TINYINT},
            </if>
            <if test="unifiedFre != null">
                unified_fre = #{unifiedFre,jdbcType=DECIMAL},
            </if>
            <if test="freightId != null">
                freight_id = #{freightId,jdbcType=INTEGER},
            </if>
            <if test="onsaleTimeType != null">
                onsale_time_type = #{onsaleTimeType,jdbcType=TINYINT},
            </if>
            <if test="onsaleTime != null">
                onsale_time = #{onsaleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="specimen != null">
                specimen = #{specimen,jdbcType=TINYINT},
            </if>
            <if test="priceUnit != null">
                price_unit = #{priceUnit,jdbcType=DECIMAL},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="productStatus != null">
                product_status = #{productStatus,jdbcType=TINYINT},
            </if>
            <if test="salesNum != null">
                sales_num = #{salesNum,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="startAmount != null">
                start_amount = #{startAmount,jdbcType=INTEGER},
            </if>
            <if test="startPrice != null">
                start_price = #{startPrice,jdbcType=DECIMAL},
            </if>
            <if test="intervalStart != null">
                interval_start = #{intervalStart,jdbcType=INTEGER},
            </if>
            <if test="intervalEnd != null">
                interval_end = #{intervalEnd,jdbcType=INTEGER},
            </if>
            <if test="intervalPrice != null">
                interval_price = #{intervalPrice,jdbcType=DECIMAL},
            </if>
            <if test="maxAmount != null">
                max_amount = #{maxAmount,jdbcType=INTEGER},
            </if>
            <if test="maxDiscPrice != null">
                max_disc_price = #{maxDiscPrice,jdbcType=DECIMAL},
            </if>
            <if test="productInfo != null">
                product_info = #{productInfo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where product_id = #{productId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.miquankj.api.entity.Product">
    update jdej_product
    set store_id = #{storeId,jdbcType=INTEGER},
      pro_name = #{proName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      category_name = #{categoryName,jdbcType=VARCHAR},
      pro_pic = #{proPic,jdbcType=VARCHAR},
      is_normed = #{isNormed,jdbcType=TINYINT},
      is_distributed = #{isDistributed,jdbcType=TINYINT},
      discount = #{discount,jdbcType=DECIMAL},
      delivery_days = #{deliveryDays,jdbcType=INTEGER},
      delivery_type = #{deliveryType,jdbcType=TINYINT},
      unified_fre = #{unifiedFre,jdbcType=DECIMAL},
      freight_id = #{freightId,jdbcType=INTEGER},
      onsale_time_type = #{onsaleTimeType,jdbcType=TINYINT},
      onsale_time = #{onsaleTime,jdbcType=TIMESTAMP},
      specimen = #{specimen,jdbcType=TINYINT},
      price_unit = #{priceUnit,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      product_status = #{productStatus,jdbcType=TINYINT},
      sales_num = #{salesNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      start_amount = #{startAmount,jdbcType=INTEGER},
      start_price = #{startPrice,jdbcType=DECIMAL},
      interval_start = #{intervalStart,jdbcType=INTEGER},
      interval_end = #{intervalEnd,jdbcType=INTEGER},
      interval_price = #{intervalPrice,jdbcType=DECIMAL},
      max_amount = #{maxAmount,jdbcType=INTEGER},
      max_disc_price = #{maxDiscPrice,jdbcType=DECIMAL},
      product_info = #{productInfo,jdbcType=LONGVARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.miquankj.api.entity.Product">
    update jdej_product
    set store_id = #{storeId,jdbcType=INTEGER},
      pro_name = #{proName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      category_name = #{categoryName,jdbcType=VARCHAR},
      pro_pic = #{proPic,jdbcType=VARCHAR},
      is_normed = #{isNormed,jdbcType=TINYINT},
      is_distributed = #{isDistributed,jdbcType=TINYINT},
      discount = #{discount,jdbcType=DECIMAL},
      delivery_days = #{deliveryDays,jdbcType=INTEGER},
      delivery_type = #{deliveryType,jdbcType=TINYINT},
      unified_fre = #{unifiedFre,jdbcType=DECIMAL},
      freight_id = #{freightId,jdbcType=INTEGER},
      onsale_time_type = #{onsaleTimeType,jdbcType=TINYINT},
      onsale_time = #{onsaleTime,jdbcType=TIMESTAMP},
      specimen = #{specimen,jdbcType=TINYINT},
      price_unit = #{priceUnit,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      product_status = #{productStatus,jdbcType=TINYINT},
      sales_num = #{salesNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      start_amount = #{startAmount,jdbcType=INTEGER},
      start_price = #{startPrice,jdbcType=DECIMAL},
      interval_start = #{intervalStart,jdbcType=INTEGER},
      interval_end = #{intervalEnd,jdbcType=INTEGER},
      interval_price = #{intervalPrice,jdbcType=DECIMAL},
      max_amount = #{maxAmount,jdbcType=INTEGER},
      max_disc_price = #{maxDiscPrice,jdbcType=DECIMAL}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>